
    
    <!-- Beginning of Case Study  -->
    <section class="py-14 bg-[#F2F4F7] mt-10">
      <div class="container mx-auto">
        <div class="flex flex-col space-y-6">
          <p
            class="text-[32px] text-center font-redhat md:text-[48px] xl:text-[64px]"
          >
            Case <span class="text-[#FF601F]">Studies</span>
          </p>
          <p class="text-[16px] text-center px-[24px] pt-5">
            Stories of transformation, engagement, and success.
          </p>
        </div>

        <!-- card container -->
        <div
          class="grid grid-cols-1 gap-10 md:grid-cols-2 mt-10 lg:grid-cols-3"
        >
          <!-- card 1 -->
          <div
            class="bg-white rounded-xl p-4 flex flex-col justify-between w-11/12 md:w-full mx-auto"
          >
            <div class="flex flex-col space-y-4">
              <img src="./businessImages/ico.svg" alt="" class="w-[64px]" />
              <p class="text-[24px] font-bold">Wanderlust Chronicles</p>
              <p class="text-[16px] leading-[25px] hidden md:block">
                The project garnered over 1 million views and sparked a 20%
                increase in travel bookings for our client
              </p>
            </div>

            <button
              class="border-2 py-2 mt-8 md:mt-16 font-semibold border-[#F2F4F7] rounded-xl"
            >
              LEARN MORE
              <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
            </button>
          </div>

          <!-- card 2 -->
          <div
            class="bg-white rounded-xl p-4 flex flex-col justify-between w-11/12 md:w-full mx-auto"
          >
            <div class="flex flex-col space-y-4">
              <img src="./businessImages/ico.svg" alt="" class="w-[64px]" />
              <p class="text-[24px] font-bold">Wanderlust Chronicles</p>
              <p class="text-[16px] leading-[25px] hidden md:block">
                The project garnered over 1 million views and sparked a 20%
                increase in travel bookings for our client
              </p>
            </div>

            <button
              class="border-2 py-2 mt-8 md:mt-16 font-semibold border-[#F2F4F7] rounded-xl"
            >
              LEARN MORE
              <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
            </button>
          </div>

          <!-- card 3 -->
          <div
            class="bg-white rounded-xl p-4 flex flex-col justify-between w-11/12 md:w-full mx-auto"
          >
            <div class="flex flex-col space-y-4">
              <img src="./businessImages/ico.svg" alt="" class="w-[64px]" />
              <p class="text-[24px] font-bold">Wanderlust Chronicles</p>
              <p class="text-[16px] leading-[25px] hidden md:block">
                The project garnered over 1 million views and sparked a 20%
                increase in travel bookings for our client
              </p>
            </div>

            <button
              class="border-2 py-2 mt-8 md:mt-16 font-semibold border-[#F2F4F7] rounded-xl"
            >
              LEARN MORE
              <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
            </button>
          </div>

          <!-- card 4 -->
          <div
            class="bg-white rounded-xl p-4 flex flex-col justify-between w-11/12 md:w-full mx-auto"
          >
            <div class="flex flex-col space-y-4">
              <img src="./businessImages/ico.svg" alt="" class="w-[64px]" />
              <p class="text-[24px] font-bold">Wanderlust Chronicles</p>
              <p class="text-[16px] leading-[25px] hidden md:block">
                The project garnered over 1 million views and sparked a 20%
                increase in travel bookings for our client
              </p>
            </div>

            <button
              class="border-2 py-2 mt-8 md:mt-16 font-semibold border-[#F2F4F7] rounded-xl"
            >
              LEARN MORE
              <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
            </button>
          </div>

          <!-- card 5 -->
          <div
            class="bg-white rounded-xl p-4 flex flex-col justify-between w-11/12 md:w-full mx-auto"
          >
            <div class="flex flex-col space-y-4">
              <img src="./businessImages/ico.svg" alt="" class="w-[64px]" />
              <p class="text-[24px] font-bold">Wanderlust Chronicles</p>
              <p class="text-[16px] leading-[25px] hidden md:block">
                The project garnered over 1 million views and sparked a 20%
                increase in travel bookings for our client
              </p>
            </div>

            <button
              class="border-2 py-2 mt-8 md:mt-16 font-semibold border-[#F2F4F7] rounded-xl"
            >
              LEARN MORE
              <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
            </button>
          </div>

          <!-- card 6 -->
          <div
            class="bg-white rounded-xl p-4 flex flex-col justify-between w-11/12 md:w-full mx-auto"
          >
            <div class="flex flex-col space-y-4">
              <img src="./businessImages/ico.svg" alt="" class="w-[64px]" />
              <p class="text-[24px] font-bold">Wanderlust Chronicles</p>
              <p class="text-[16px] leading-[25px] hidden md:block">
                The project garnered over 1 million views and sparked a 20%
                increase in travel bookings for our client
              </p>
            </div>

            <button
              class="border-2 py-2 mt-8 md:mt-16 font-semibold border-[#F2F4F7] rounded-xl"
            >
              LEARN MORE
              <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
            </button>
          </div>

          <!-- card ends -->
        </div>
      </div>
    </section>
    <!-- End of Case Study -->