<!-- Conclusion Section starts -->
    <section class="bg-[#101828] pt-16 pb-10 opacity-75">
      <div
        class="container flex flex-col gap-10 w-11/12 mx-auto md:w-full"
      >
        <div class="lg:w-1/2">
          <div class="space-y-6">
            <p
              class="text-[32px] font-redhat md:text-[48px] xl:text-[64px] xl:leading-[70px] font-bold text-white"
            >
              Elevating Your Brand's Identity
            </p>
            <p class="text-[16px] md:text-[20px] text-white">
              Your brand's identity is at the core of your business, and it's
              our privilege to enhance it through video storytelling. We believe
              that video is the medium that connects brands to their audience,
              and we're here to craft your unique narrative.
            </p>
          </div>
        </div>

        <div class="flex flex-col items-center gap-10 lg:flex-row">
          <div class="w-full h-56 bg-[#ffffff] opacity-10 lg:w-4/12"></div>
          <div class="lg:w-8/12">
            <p class="text-[16px] md:text-[20px] text-white">
              Our expertise in video storytelling goes beyond the visual. It's
              about weaving a narrative that speaks directly to your audience,
              creating a connection that goes beyond words. With tifi.tv, your
              branding and marketing efforts are not just campaigns; they're
              stories waiting to be told.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Conclusion Section Ends  -->
