<!-- Beginning of Hero Section -->
    <section
      class="bg-gradient-to-b from-white to-[#F2F4F7] container rounded-xl mx-auto flex justify-center mt-10 items-center py-10 px-4 md:py-28 md:px-28"
    >
      <div class="flex flex-col space-y-2">
        <h1
          class="text-[42px] font-bold text-center font-redhat md:text-[64px] xl:text-[72px]"
        >
          For <span class="text-[#FF601F]">Businesses</span>
        </h1>
        <p class="text-[16px] text-center">
          We offer a rich palette of services designed to meet the diverse needs
          of businesses. Whether it's unveiling a new product, igniting your
          brand's presence, or enhancing internal communications, our video
          editing services are tailored to your specific objectives.
        </p>
      </div>
    </section>
    <!-- Ending of Hero Section -->

