



    
    <!-- NewsLetter Section Starts -->

    <section class="pt-16">
      <div class="container mx-auto flex flex-col space-y-7">
        <p
          class="text-[32px] font-redhat text-center md:text-[48px] xl:text-[64px] xl:leading-[70px] font-bold"
        >
          Let’s Create Something Together
        </p>
        <div class="w-full lg:w-1/2 mx-auto flex flex-col gap-10">
          <p class="text-[16px] text-center md:text-[20px]">
            It's time to turn your vision into reality. The possibilities are
            endless when it comes to visual storytelling. If you're ready to
            embark on a project that can transform your business, we're here to
            make it happen.
          </p>

          <!-- Form Starts -->
          <form action="" class="lg:px-10 flex flex-col space-y-10">
            <fieldset class="flex flex-col space-y-2">
              <label for="" class="font-jak">Company Name</label>
              <input type="text" class="w-full border border-[#D0D5DD] px-4 py-2 rounded-lg" placeholder="Enter business name">
            </fieldset>

            <fieldset class="flex flex-col space-y-2">
              <label for="" class="font-jak">Email Address</label>
              <input type="text" class="w-full border border-[#D0D5DD] px-4 py-2 rounded-lg" placeholder="Enter email address">
            </fieldset>

            <fieldset class="flex flex-col space-y-2">
              <label for="" class="font-jak">Subject (Optional)</label>
              <input type="text" class="w-full border border-[#D0D5DD] px-4 py-2 rounded-lg" placeholder="Enter subject">
            </fieldset>

            <fieldset class="flex flex-col space-y-2">
              <label for="" class="font-jak">Tell us what we can do for you</label>
              <textarea name="" class="w-full border border-[#D0D5DD] px-4 py-2 h-32 rounded-lg" placeholder="Type your message..."></textarea>
            </fieldset>
            <button class="py-2 text-white text-[16px] font-semibold rounded-lg bg-[#FF601F]">SEND MESSAGE</button>
          </form>
          <!-- Form Ends -->
        </div>
      </div>
    </section>
    <!-- NewsLetter Section Ends -->