<!-- Beginning of Offer Section -->
    <section class="mx-auto container flex flex-col space-y-10 mt-16">
      <p class="text-[#FF601F] font-semibold text-[20px] text-center">
        WHAT WE CAN DO FOR YOU
      </p>
      <p
        class="text-[32px] text-center font-redhat md:text-[48px] xl:text-[64px]"
      >
        Custom Solutions for...
      </p>

      <!-- Card Container Starts -->
      <div class="flex flex-col lg:flex-row gap-10 mt-10">
        <!-- card 1 -->
        <div
          class="bg-[#F2F4F7] rounded-xl px-5 pt-10 pb-5 space-y-3 flex-1 w-11/12 mx-auto"
        >
          <p class="text-[16px] font-semibold md:text-[32px] xl:text-[36px]">
            Branding & Marketing
          </p>

          <div class="flex items-start space-x-3 pt-6">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25 ">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Brand Identity Videos</p>
          </div>

          <div class="flex items-start space-x-3">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25 ">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Product and Service Promotion</p>
          </div>

          <div class="flex items-start space-x-3">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25 ">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Event Videos</p>
          </div>

          <div class="flex items-start space-x-3">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25 ">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Recruitment and HR Videos</p>
          </div>

          <div class="flex items-start space-x-3">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25 ">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Training and Educational Videos</p>
          </div>

          <div class="flex items-start space-x-3">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25 ">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">And many more</p>
          </div>

          <p class="text-[16px] pt-5">
            We’re here to help you. Reach out to us as soon as possible!
          </p>
        </div>

        <!-- card-2 -->
        <div
          class="bg-[#FF601F] bg-opacity-10 rounded-xl px-5 pt-10 pb-5 space-y-3 flex-1 w-11/12 mx-auto"
        >
          <p class="text-[16px] font-semibold md:text-[32px] xl:text-[36px]">
            Digital Marketing
          </p>

          <div class="flex items-start space-x-3 pt-6">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25 ">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Social Media Videos</p>
          </div>

          <div class="flex items-start space-x-3">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25 ">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Ad Campaign Videos</p>
          </div>

          <div class="flex items-start space-x-3">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25 ">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Content Marketing Videos</p>
          </div>

          <div class="flex items-start space-x-3">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25 ">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">Email Marketing Videos</p>
          </div>

          <div class="flex items-start space-x-3">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25 ">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">YouTube and Online Video Content</p>
          </div>

          <div class="flex items-start space-x-3">
            <div class="px-1 rounded-full bg-[#FF601F] bg-opacity-25 ">
              <i class="bi bi-check text-[#FF601F] text-xl"></i>
            </div>
            <p class="text-[16px]">And many more</p>
          </div>
        </div>
      </div>
      <!-- Card Container Ends  -->
    </section>
    <!-- End of   Offer Section -->