---

---
<!-- Beginning of Service Section -->
    <section class="bg-[#F2F4F7] mt-10 py-10 md:py-28">
      <div class="container mx-auto flex flex-col space-y-6">
        <p
          class="text-[32px] text-center font-semibold font-redhat md:text-[48px] xl:text-[64px]"
        >
          Our Palette of <span class="text-[#FF601F]">Corporate</span> Video
          Services
        </p>
        <p class="text-[16px] text-center">
          Unlocking the Power of Visual Storytelling for Your Business
        </p>

        <div class="flex flex-col gap-10 lg:flex-row">
          <!-- card 1 -->
          <div class="flex-1 rounded-xl bg-white w-11/12 mx-auto lg:w-full">
            <img
              src="./businessImages/banner1.png"
              alt=""
              class="h-[205px] mx-auto w-full object-cover rounded-t-xl"
            />
            <div class="flex w-11/12 flex-col py-8 mx-auto space-y-5">
              <p class="text-[18px] font-bold text-center">
                Product <span class="text-[#FF601F]">Demonstrations</span>
              </p>
              <p class="text-[16px] text-center">
                Present your products in their best light with dynamic and
                engaging demonstrations that showcase their features and
                benefits.
              </p>
            </div>
          </div>
          <!-- card 2 -->

          <div class="flex-1 rounded-xl bg-white w-11/12 mx-auto lg:w-full">
            <img
             src="./businessImages/banner2.png"
              alt=""
              class="h-[205px] mx-auto w-full object-cover rounded-t-xl"
            />
            <div class="flex w-11/12 flex-col py-8 mx-auto space-y-5">
              <p class="text-[18px] font-bold text-center">
                Promotional <span class="text-[#FF601F]">Videos</span>
              </p>
              <p class="text-[16px] text-center">
                Craft compelling promotional videos that captivate your
                audience, drive conversions, and enhance brand visibility.
              </p>
            </div>
          </div>
          <!-- card 3 -->

          <div class="flex-1 rounded-xl bg-white w-11/12 mx-auto lg:w-full">
            <img
              src="./businessImages/banner3.png"
              alt=""
              class="h-[205px] mx-auto w-full object-cover rounded-t-xl"
            />
            <div class="flex w-11/12 flex-col py-8 mx-auto space-y-5">
              <p class="text-[18px] font-bold text-center">
                <span class="text-[#FF601F]">Internal</span> Communications
              </p>
              <p class="text-[16px] text-center">
                Foster strong internal connections through effective video
                communication, making sure your message resonates with your
                team.
              </p>
            </div>
          </div>
        </div>

        <!-- cards ends -->
        <div class="px-4 flex justify-center items-center flex-col md:px-28">
          <p class="text-[16px] md-8 md:mt-16 text-center">
            We believe that every video has a story to tell, and every story has
            a message that connects. Our corporate video services are not just
            about visuals; they're about creating a lasting impact on your
            branding and marketing goals.
          </p>
          <button
            class="mt-10 rounded-lg w-[166px] py-2 font-semibold bg-[#FF601F] text-white font-inter"
          >
            LET'S TALK
            <span class=""><i class="bi bi-arrow-up-right ml-2"></i></span>
          </button>
        </div>
      </div>
    </section>
    <!-- Ending of Service Section -->